// Here you can add other styles

.pointer{
    cursor: pointer;
}

.dark-background {
    background-color: rgba( 0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1030;
}

.oculto {
    display: none;
}